{% extends "base.html" %}
{% block title %}Add New Alumnus{% endblock %}
{% block content %}
  <h2>Add New Alumnus</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.fName.label }} {{ form.fName(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.lName.label }} {{ form.lName(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.phone.label }} {{ form.phone(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.DOB.label }} {{ form.DOB(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.gender.label }} {{ form.gender(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.ethnicity.label }} {{ form.ethnicity(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.website.label }} {{ form.website(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}
