{% extends "base.html" %}
{% block title %}Donation List{% endblock %}
{% block content %}
  <h2>Donations</h2>
    {% if session.perms.insert == 'Y' %}
    <a class="btn btn-secondary mb-3"
   href="{{ url_for('donation.add_donation', alumniID=alumnus.alumniID) }}">
   Add New Donation
    {% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Alumni ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Reason</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for d in donations %}
        <tr>
          <td>{{ d.donationID }}</td>
          <td>{{ d.alumniID }}</td>
          <td>${{ d.donationAmt }}</td>
          <td>{{ d.donationDT }}</td>
          <td>{{ d.reason }}</td>
          <td>{{ d.description }}</td>
          <td>
            {% if session.perms.update == 'Y' %}
              <a href="{{ url_for('donation.edit_donation', donationID=d.donationID) }}" class="btn btn-sm btn-warning">Edit</a>
            {% endif %}
            {% if session.perms.delete == 'Y' %}
              <form method="post" action="{{ url_for('donation.delete_donation', donationID=d.donationID) }}" style="display:inline">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
